{% extends "layout.html" %}

{% block title %}
BUY
{% endblock %}

{% block main %}

<form method="POST" action="\buy">

    <div class=" mb-3">
        <input type="text" class=" form-control mx-auto w-auto" autofocus autocomplete="off" name="symbol" placeholder="Symbol">
    </div>

    <div class=" mb-3">
        <input type="number" min="1" class=" form-control mx-auto w-auto" autofocus autocomplete="off" name="shares" placeholder="Quantity">
    </div>

    <button class="btn btn-primary" > BUY </button><br>
    {{ preview }}

</from>


{% endblock %}