{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<div class="row">
  <div class="col-md-6">
    <img src="/static/img/animated-login.svg">
  </div>

  <div class=" col-md-6 mt-md-5">
    <h1 class="display-3">Welcome Back!</h1>
    <h1 class="display-3">Login to Your Account</h1>
   
    <form action="/login" method="post" class="mt-5 ms-1">
      <div >
          <input class="form-control-lg mb-2" id="username" name="username" placeholder="Username" type="text" autocomplete="off" style="width:auto;" required>
      </div>
      <div>
          <input class="form-control-lg mb-3" id="password" name="password" placeholder="Password" type="password" style="width:auto;" required>
      </div>
      <button class="btn btn-info btn-lg text-white" type="submit">Log In</button>
    </form>
    
  

  </div>
</div>
    
   

{% endblock %}
