{% extends "layout.html" %}

{% block title %} Confirmation {% endblock %}

{% block main %}

<div class="d-flex justify-content-center">
    <h2 class="display-4">ORDER CONFIRMATION </h2>
    <span>
        <br><h3 class="lead" style=" color: rgb(0, 213, 255);">Type: {{ type }}</h3>
    </span>
    
</div>
 


    <table style="width: 50%; margin-top: 2rem;" class="table table-info table-striped" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>



            </tr>

        </thead>

        <tbody>

            <tr>

                <td> {{ stock["name"] }} </td>
                <td> {{stock["symbol"]}}  </td>
                <td> {{stock["price"]}}  </td>
                <td> {{quantity}}  </td>
                <td> {{total}}  </td>

            </tr>

            <tr>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <th> Cash </th>
                <td> {{cash}}  </td>
            </tr>


            <tr>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <th> Cash Balance </th>
                <td style="font-weight: bold;"> {{balance}}  </td>
            </tr>

        </tbody>


    </table>

    <div style="display: flex; margin-left: 50% ;">
    <form action="/confirm" method="POST"  >
        <input type="submit" value="CONFIRM"  class="btn btn-primary me-2">
    </form>
    <form >
        <input type="submit" value="CANCEL" class="btn btn-primary">
    </form>
    </div>






{% endblock %}