{% extends "layout.html" %}

{% block title %} Quote {% endblock %}

{% block main %}
    <form action="/quote" method="POST">
        <input name="symbol" type="text" autofocus autocomplete="off" placeholder="Symbol" class="form-control mx-auto w-auto"><br>
        <button class="btn btn-primary"> Quote </button>
    </form>

    <table style="width: 50%; margin-top: 2rem;" class="table table-success table-striped" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Price</th>

            </tr>

        </thead>

            <tr>

                <td> {{ stock_info["name"] }} </td>
                <td> {{stock_info["symbol"]}}  </td>
                <td> {{stock_info["price"]}}  </td>

            </tr>
    </table>




{% endblock %}