{% extends "layout.html" %}

{% block title %} Quote {% endblock %}

{% block main %}

<div class="container">
    <div  class="row justify-content-center">
        <div class="col-6">
            <form action="/quote" method="POST" >

            <input name="symbol" type="text" autofocus autocomplete="off" placeholder="Symbol" class="form-control-lg w-auto mb-2"><br>
            <button class="btn btn-info text-white btn-lg "> Quote </button>  
            </form>
        </div>

    </div>

     

</div>
   

    <table style="width: 50%; margin-top: 2rem;" class=" table table-info table-striped" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Price</th>

            </tr>

        </thead>

            <tr>

                <td> {{ stock_info["name"] }} </td>
                <td> {{stock_info["symbol"]}}  </td>
                <td> {{stock_info["price"]}}  </td>

            </tr>
    </table>




{% endblock %}