{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="/static/img/finance.svg">
        </div>

        <div class="col-md-6 mt-md-5 ">
            <h1 class="display-3 mt-2">Create your WealBuild account now. It's Free.</h1>
            <form action="/register" method="POST" class="mt-md-5">
                <input name="username" type="text" autofocus autocomplete="off" placeholder="Username" class="form-control form-control-lg mt-2" required style="width:auto;">
                <input name="password" type="text" autofocus autocomplete="off" placeholder="Password" class="form-control form-control-lg mt-2" required style="width:auto;">
                <input name="confirmation" type="text" autofocus autocomplete="off" placeholder="Password Again" class="form-control form-control-lg mt-2" required style="width:auto;">
                <input type="submit" value="Sign Up" class="btn btn-outline-info mt-2">
            </form>
        </div>
    </div>
</div>


{% endblock %}