{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}

<form action="/register" method="POST">
    <input name="username" type="text" autofocus autocomplete="off" placeholder="username" style="margin-bottom: 0.5rem;"><br>
    <input name="password" type="text" autofocus autocomplete="off" placeholder="password" style="margin-bottom: 0.5rem;"><br>
    <input name="confirmation" type="text" autofocus autocomplete="off" placeholder="password again" style="margin-bottom: 0.5rem;"><br>

    <input type="submit" value="Register">
</form>

{% endblock %}